NET "LA[2]"  LOC = "p34"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[3]"  LOC = "p33"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[4]"  LOC = "p31"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[5]"  LOC = "p29"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[6]"  LOC = "p28"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[7]"  LOC = "p27"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[8]"  LOC = "p26" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[9]"  LOC = "p24" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[10]" LOC = "p22" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[11]" LOC = "p21" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "LA[12]" LOC = "p20" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";

NET "LD[0]"  LOC = "p35"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[1]"  LOC = "p36"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[2]"  LOC = "p37"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[3]"  LOC = "p39"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[4]"  LOC = "p40"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[5]"  LOC = "p42"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[6]"  LOC = "p43"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[7]"  LOC = "p45"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[8]"  LOC = "p46"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[9]"  LOC = "p48"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[10]"  LOC = "p50"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[11]"  LOC = "p51"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[12]"  LOC = "p52"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[13]"  LOC = "p57"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[14]"  LOC = "p58"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[15]"  LOC = "p61"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[16]"  LOC = "p62"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[17]"  LOC = "p63"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[18]"  LOC = "p64"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[19]"  LOC = "p65"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[20]"  LOC = "p67"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[21]"  LOC = "p68"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[22]"  LOC = "p71"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[23]"  LOC = "p72"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[24]"  LOC = "p74"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[25]"  LOC = "p78"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[26]"  LOC = "p79"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[27]"  LOC = "p80"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[28]"  LOC = "p81"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[29]"  LOC = "p85"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[30]"  LOC = "p86"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "LD[31]"  LOC = "p87"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_LD";
NET "WnR"  LOC = "p11"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "nADS"  LOC = "p13"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "nREADY" LOC = "p10" | IOSTANDARD = LVCMOS33 | TNM = "PLX_IN";
NET "nBLAST" LOC = "p12" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "nBTERM"  LOC = "p9"  | IOSTANDARD = LVCMOS33 | TNM = "PLX_IN";
NET "BCLKO"  LOC = "p76"  | IOSTANDARD = LVCMOS33 | TNM_NET = "TN_CLK";
NET "nCS2" LOC = "p3" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";
NET "nCS3" LOC = "p2" | IOSTANDARD = LVCMOS33 | TNM = "PLX_OUT";

TIMESPEC "TS_CLK" = PERIOD "TN_CLK" 30 ns HIGH 50%;
TIMEGRP "PLX_OUT" OFFSET = IN 20 ns VALID 25 ns BEFORE "BCLKO" RISING;
TIMEGRP "PLX_IN" OFFSET = OUT 23 ns AFTER "BCLKO" RISING;
TIMEGRP "PLX_LD" OFFSET = IN 20 ns VALID 25 ns BEFORE "BCLKO" RISING;
TIMEGRP "PLX_LD" OFFSET = OUT 25 ns AFTER "BCLKO" RISING;

NET "nCSTURF" LOC="p126" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS_nCSTURF";   # = D8 on TURF (D0 here)
NET "TURF_WnR" LOC="p124" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS_TURF_WnR";  # = D9 on TURF (D1 here)
NET "TURF_DIO[0]"  LOC = "p125" | SLEW = SLOW | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D0"; # D8  (TURF D0)
NET "TURF_DIO[1]"  LOC = "p123" | SLEW = SLOW  | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D1"; # D9  (TURF D1)
NET "TURF_DIO[2]"  LOC = "p107" | SLEW = SLOW  | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D2"; # D10 (TURF D2)
NET "TURF_DIO[3]"  LOC = "p119" | SLEW = SLOW  | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D3"; # D11 (TURF D3)
NET "TURF_DIO[4]"  LOC = "p116" | SLEW = SLOW  | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D4"; # D12 (TURF D4)
NET "TURF_DIO[5]"  LOC = "p114" | SLEW = SLOW  | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D5"; # D13 (TURF D5)
NET "TURF_DIO[6]"  LOC = "p111" | SLEW = SLOW  | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D6"; # D14 (TURF D6)
NET "TURF_DIO[7]"  LOC = "p108" | SLEW = SLOW  | IOSTANDARD = LVCMOS25 | TNM = "TURFBUS" | TNM = "TURFBUS_D7"; # D15 (TURF D7)
NET "TURFCLK_P" LOC = "P130" | IOSTANDARD = LVDS_25 | TNM = "TURFBUS_CLK";
NET "TURFCLK_N" LOC = "P131" | IOSTANDARD = LVDS_25;
NET "REFCLK_P" LOC = "P132" | IOSTANDARD = LVDS_25;
NET "REFCLK_N" LOC = "P133" | IOSTANDARD = LVDS_25;
NET "TURF_TRIG_IN" LOC = "P113" | IOSTANDARD = LVCMOS25 | CLOCK_DEDICATED_ROUTE = "FALSE";						# mapped to D6 = D14 on the TURF
NET "TURF_TRIG_OUT" LOC = "P115" | IOSTANDARD = LVCMOS25 | SLEW = FAST;	# mapped to D5 = D13 on the TURF
NET "PPS_BURST" LOC = "p122" | IOSTANDARD = LVCMOS25 | SLEW = FAST ;    # mapped to D2 = D10 on TURF
NET "PPS" LOC = "p117" | IOSTANDARD = LVCMOS25 | SLEW = FAST;         	# mapped to D4 = D12 on TURF
# D3 and D7 are unused currently. 

NET "HS_REFCLK" LOC = "P183" | IOSTANDARD = LVCMOS33;

# PPS inputs.
NET "DRV_0123" LOC = "P190" | IOSTANDARD = LVCMOS33;
NET "PPS_ADU5A" LOC = "P181" | IOSTANDARD = LVCMOS33;
NET "PPS_ADU5B" LOC = "P180" | IOSTANDARD = LVCMOS33;
NET "PPS_G12" LOC = "P178" | IOSTANDARD = LVCMOS33; 
NET "EXT_TRIG" LOC = "P176" | IOSTANDARD = LVCMOS33;

# Photo outputs.
NET "DRV_4567" LOC = "P189" | IOSTANDARD = LVCMOS33;
NET "PHOTO_ADU5A" LOC = "P199" | IOSTANDARD = LVCMOS33;
NET "PHOTO_ADU5B" LOC = "P198" | IOSTANDARD = LVCMOS33;
NET "PHOTO_G12" LOC = "P197" | IOSTANDARD = LVCMOS33;
NET "TRIG_OUT" LOC = "P196" | IOSTANDARD = LVCMOS33;

# Unused.
NET "DRV_8" LOC = "P187" | IOSTANDARD = LVCMOS33;


// MON2,3,4,5 are all 2.5V I/O, so we use those.
// MON2 = MTCK
// MON3 = MTMS
// MON4 = MTDI
// MON5 = MTDO
NET "MTCK" LOC = "P150" | IOSTANDARD = LVCMOS25 | PERIOD = 500.0 ns HIGH 40% | CLOCK_DEDICATED_ROUTE = "FALSE";
NET "MTMS" LOC = "P149" | IOSTANDARD = LVCMOS25;
NET "MTDI" LOC = "P148" | IOSTANDARD = LVCMOS25;
NET "MTDO" LOC = "P147" | IOSTANDARD = LVCMOS25;

NET "SDAT" LOC = "P184" | IOSTANDARD = LVCMOS33;
NET "SCLK" LOC = "P182" | IOSTANDARD = LVCMOS33;
NET "BIPHASE" LOC = "P191" | IOSTANDARD = LVCMOS33;
NET "SYNC" LOC = "P185" | IOSTANDARD = LVCMOS33;

TIMEGRP "TURFBUS_nCSTURF" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_TURF_WnR" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D0" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D1" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D2" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D3" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D4" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D5" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D6" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_D7" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS_CLK" OFFSET = OUT AFTER "BCLKO" RISING;
TIMEGRP "TURFBUS" OFFSET = IN 7.215 ns VALID 15 ns BEFORE "BCLKO" RISING;
